<div class="mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button
        class="nav-link active"
        data-bs-toggle="tab"
        (click)="pageChange('cadeau')"
      >
        Les cadeaux
      </button>
    </li>
    <li class="nav-item" *ngIf="currentUser.accessToken">
      <span class="badge rounded-pill bg-warning">{{ nbrCadeau }}</span>
      <button
        class="nav-link"
        data-bs-toggle="tab"
        (click)="pageChange('list')"
      >
        Votre liste
      </button>
    </li>
    <li class="nav-item" *ngIf="!currentUser.accessToken">
      <button class="nav-link" data-bs-toggle="tab">Créer votre liste</button>
    </li>
    <!--
        <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    -->
  </ul>
</div>
<div *ngIf="vueCadeaux" class="container d-flex flex-wrap">
  <ng-container *ngFor="let cadeau of cadeaux; let index = index">
    <app-cadeau-card
      class="m-1"
      [cadeau]="cadeau"
      (ajoutCadeauEvent)="ajouterCadeau($event)"
    ></app-cadeau-card>
  </ng-container>
</div>
<div *ngIf="vueList">
  <app-cadeau-list
    [cadeauList]="cadeauList"
    class="d-flex flex-wrap"
    (retirerCadeauListEvent)="retirerCadeauList($event)"
  ></app-cadeau-list>
</div>
